p.title {
	font-size: 3rem;
	margin-top: 1rem;
}

.checkout {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

tbody {
	text-align: center;
	vertical-align: middle;
}

.cart_content {
	font-size: 1.5rem;
}
