<!DOCTYPE html>
<!--suppress ALL -->
<html
	lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template}"
>
	<head>
		<title>User Info</title>
	</head>
	<body>
		<section layout:fragment="fragment">
			<div class="container">
				<h1 class="text-center">USER INFOMATION</h1>
				<ul class="nav d-flex justify-content-center">
					<li class="nav-item">
						<a th:href="@{/change_password}">
							<button type="button" class="btn btn-primary">Change Password</button></a
						>
					</li>
					<li class="nav-item">
						<a th:href="@{/change_info}">
							<button type="button" class="btn btn-primary">Change Email/Name</button></a
						>
					</li>
					<li class="nav-item" th:if="${isAdmin}">
						<a th:href="@{/change_role}">
							<button type="button" class="btn btn-primary">Update Role</button></a
						>
					</li>
				</ul>
				<div class="basic-info">
					<div class="col-3">
						<strong>User Name:</strong> <span th:text="${user_name}" class="font-weight-normal"></span>
					</div>
					<div class="col-3">
						<strong>User Email:</strong> <span th:text="${user_email}" class="font-weight-normal"></span>
					</div>
					<div class="col-4">
						<strong>User Role:</strong>
						<span th:each="role : ${user_role}">
							<span th:text="*{role + ', '} "></span>
						</span>
					</div>
				</div>
				<table class="table table-striped w-auto">
					<thead>
						<tr>
							<th>No.</th>
							<th>Event Type</th>
							<th>Date</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="event, iStat:${user_event}">
							<td th:text="${iStat.count}">No.</td>
							<td th:text="*{event.eventName}">Name</td>
							<td th:text="*{event.createdDate}">Email</td>
						</tr>
					</tbody>
				</table>
				<div class="d-flex justify-content-center">
					<a th:href="@{/logout}"><button type="button" class="btn btn-primary">Logout</button></a>
				</div>
			</div>
		</section>
	</body>
</html>
