<!DOCTYPE html>
<!--suppress ALL -->
<html
	lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template}"
>
	<head>
		<title>Change password</title>
	</head>
	<body>
		<section layout:fragment="fragment">
			<div class="container">
				<h1 class="text-center">Change password</h1>
				<ul class="nav d-flex justify-content-center">
					<li class="nav-item">
						<a th:href="@{/basic}"> <button type="button" class="btn btn-primary">Back</button></a>
					</li>
				</ul>
				<div th:if="${result_update_pass}" class="d-flex justify-content-center">
					<span class="text-success">Your password is updated</span>
				</div>
				<form method="post" th:action="@{/change_password}" th:object="${changePassword}">
					<div class="form-group row d-flex justify-content-center">
						<div class="col-2 text-right">
							<label class="col-form-label">Enter your password:</label>
						</div>
						<div class="col-5 text-left">
							<input type="text" th:field="*{password}" class="form-control" />
							<div th:if="${#fields.hasErrors('password')}" class="col-6 text-left">
								<span class="text-danger" th:errors="*{password}"></span>
							</div>
						</div>
					</div>
					<div class="form-group row d-flex justify-content-center">
						<div class="col-2 text-right">
							<label class="col-form-label">Reconfirm your password:</label>
						</div>
						<div class="col-5 text-left">
							<input type="text" th:field="*{reconfirmPassword}" class="form-control" />
							<div th:if="${#fields.hasErrors('reconfirmPassword')}" class="col-6 text-left">
								<span class="text-danger" th:errors="*{reconfirmPassword}"></span>
							</div>
						</div>
					</div>
					<div class="text-center">
						<button type="submit" class="btn btn-primary">Update</button>
					</div>
				</form>
			</div>
		</section>
	</body>
</html>
