<!DOCTYPE html>
<html
	lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template}"
>
	<head>
		<title>Retrieve Password</title>
		<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />
	</head>

	<style>
		.form-group {
			margin-bottom: 0.5rem;
		}

		li {
			margin: 0px 0.5rem;
		}

		form {
			margin-top: 1rem;
		}
	</style>
	<body>
		<section layout:fragment="fragment">
			<div class="container">
				<h1 class="text-center">Recover password</h1>
				<ul class="nav d-flex justify-content-center">
					<li class="nav-item">
						<a th:href="@{/index}"> <button type="button" class="btn btn-primary">Back</button></a>
					</li>
				</ul>
				<div th:if="*{password!=null and #strings.length(password)>0}" class="d-flex justify-content-center">
					<span>Your new password is: <span th:text="${password}"></span></span>
				</div>
				<div th:if="*{notFound!=null and #strings.length(notFound)>0}" class="d-flex justify-content-center">
					<span class="text-danger">No email is found!</span>
				</div>
				<form method="post" th:action="@{/recover}" th:object="${recoverEmail}">
					<div class="form-group row d-flex justify-content-center">
						<div class="col-2 text-right">
							<label class="col-form-label">Enter your email:</label>
						</div>
						<div class="col-5 text-left">
							<input type="text" th:field="*{email}" class="form-control" />
							<div th:if="${#fields.hasErrors('email')}" class="col-6 text-left">
								<span class="text-danger" th:errors="*{email}"></span>
							</div>
						</div>
					</div>
					<div class="text-center">
						<button type="submit" class="btn btn-primary">Recover</button>
					</div>
				</form>
			</div>
		</section>
	</body>
</html>
